@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
  background-color: black;
  color: white;
  width: 100%;
 
}
.fa {
  padding: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.sub-title-social-media{
    font-family: 'Bree Serif', serif;

    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.list-style-social-media-contact {
    width: 100%;
    text-align: center;
    list-style-type: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border:1px solid white;
  border-radius: 1rem;

  
  
}
.fa-twitter {
  background: #3B5998;
  color: white;
  border:1px solid white;
  border-radius: 1rem;
}
.fa-google {
 background: #3B5998;
  color: white;
  border:1px solid white;
  border-radius: 1rem;
}
.fa-linkedin {
  background: #3B5998;
  color: white;
  border:1px solid white;
  border-radius: 1rem;
}
.fa-github{
    background: #3B5998;
    color: white;
    border:1px solid white;
  border-radius: 1rem;
}
.fa-instagram {
  background: #3B5998;
  color: white;
  border:1px solid white;
  border-radius: 1rem;
}
.fa-whatsapp{
    background: #3B5998;
    color: white;
    border:1px solid white;
    border-radius: 1rem;
    width: 100px;
}
.fa-whatsapp-contact{
   width: 200px;
}
.box-social-media{
    width: 40%;
    margin-top: 50px;
}
.contact-me{
    font-family: 'Bree Serif', serif;

    font-size: 60px;
    text-align: center;
    margin: 10px;
}
.list-style-social-media{
    list-style-type: none; 
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    
}
.style-social-media-title {
    margin-bottom: 20px;
    font-family: 'Bree Serif', serif;

    font-size: 45px;
}
.style-nav{
    color: black;
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.522);
}
.style-list-nav{
    display: flex;
    margin: 15px;
    padding: 15px;
    color: white;
}
.style-items-list{
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Bree Serif', serif;

    height:40px;
}
.style-list-icons{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}
.box-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    flex-wrap: wrap;
}
.size-list-icons{
    width:144px; 
    height:144px;
}
.style-items-list:hover{
     border-bottom: 2px solid white;
     color: rgba(255, 255, 255, 0.707);
}
.style-name-developer {
    margin: 5px 15px 15px 120px;
    padding: 20px 28px 35px 28px;
    font-size: 40px;
    font-family: 'Bree Serif', serif;

    height:40px;
    cursor: pointer;
}
.style-name-developer:hover{
    border-bottom: 2px solid white;
  color: rgba(255, 255, 255, 0.707)
    
}
.style-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.size-logo-rrss{
    font-size:30px;
    
}
.description{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.no-links{
    text-decoration: none;
     color: white;
}
.no-links:hover {
    color: rgba(255, 255, 255, 0.707);
}
.no-links-name {
    text-decoration: none;
    color:white;
}

.typing {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2.5rem;
    margin-top: 15px;
    font-family: 'Roboto Condensed', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.style-footer{
    border-top: 1px solid rgba(255, 255, 255, 0.522);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.icons-contex{
    border: 1px solid white;
    border-radius: 1rem;
    padding: 10px;
    margin: 25px;
}
.size-list-icons:hover {
    transform: scale(1.1);
}
.button-about-me{
    background-color: rgba(114, 114, 114, 0.33);
    color: white;
    padding: 15px;
    display:flex;
    font-size: 50px;
    border-radius: 1rem;
    cursor: pointer;
    -webkit-box-shadow:5px 5px 25px 0px #bdbdbd;
    -moz-box-shadow:5px 5px 25px 0px #bdbdbd;
    box-shadow:5px 5px 25px 0px #bdbdbd;
    text-shadow:2px 5px 4px #919191;
    text-align:center;
}
.button-about-me:hover{
    background-color: rgba(255, 255, 255, 0.522);
    transition:background-color 0.3s ease-in 0s;
    color: black;
     transition: color 0.2s ease-in 0s;
    text-shadow:2px 5px 2px #8f8f8f
}
.text-about {
     font-family: 'Bree Serif', serif;
     font-size: 3.2rem;  
}
.no-links-button{
    text-decoration: none;
    color: black;
}
.position-button{
    display: flex;
    justify-content: center;
   margin: 40px;
}
.name-lenguages {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}
.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes rotateInDownLeft {
  0% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
  }
  @keyframes rotateInDownLeft {
  0% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
  } 
  .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 

  .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
  .nav-bar-mobile {
    display: none;
    margin: 20px;
}
.desactive {
    display: none;
    border: 1px solid white;
    padding: 12px;
    border-top: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.303);
}
.active {
    display: block;
}
.openMain{
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 15px;
    text-align: center;
    width: 78px;
}
.about-me-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Bree Serif', serif;

}
.text-about-me{
    font-size: 3.2rem;
    padding: 120px 120px 0px 120px;
}
.text-about-me-name {
    font-size: 3.2rem;
    padding: 20px 120px 120px 120px; 
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 
  .project-ecommerce{
      width: 550px;
      height: 350px;
      border: 1px solid white;
      border-radius: 1rem;
      margin: 85px 85px 15px 85px;
      display: flex; 
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      background-color: rgba(77, 77, 77, 0.512);

    
}
.project-ecommerce:hover{
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-landingPage{
    width: 550px;
    height: 350px;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 85px 85px 15px 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: rgba(77, 77, 77, 0.512);
}
.project-landingPage:hover{
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 20px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 25px;
    font-family: 'Bree Serif', serif;

    background-color: rgba(21, 21, 21, 0.787);
    color: white;
}
.button-image:hover{
    color: white;
}
.box-project{
    display: flex;
    justify-content: center;
    align-items: center;
}
.go-to-page{
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 1rem;
}
.description-project{
    width: 500px;
    height: 300px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    padding: 10px;
    font-size: 25px;
}
.style-list-certificate{
    list-style-type: none; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    margin-bottom: 60px;
    
}
.position-text-description{
    margin: 0  10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.maring-hr{
    margin:10px;
    opacity: 0.5;
}
.experience{
    font-family: 'Bree Serif', serif;
    width:800px;
    font-size: 30px;
}
.position-eperience{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.style-certificates{
    width: 500px;
}
.img-developer{
    width: 450px;
    height: 380px;
    background-image: url(/Portfolio/img/DesarrolloWeb.png);
    border: 1px solid white;
    border-radius: 1rem;
    margin: 85px 85px 15px 85px;
}
.img-javascript{
    width: 450px;
    height: 380px;
    background-image: url(/Portfolio/img/JavaScript.png);
    border: 1px solid white;
    border-radius: 1rem;
    margin: 85px 85px 15px 85px;
}
.img-React{
    width: 450px;
    height: 380px;
    background-image: url(/Portfolio/img/React.js.png);
    border: 1px solid white;
    border-radius: 1rem;
    margin: 85px 85px 15px 85px;
}


.img-developer:hover{
      opacity: 0.7;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
}
.img-javascript:hover{
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-React:hover{
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.certificate-title{
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
}


/*Desing Responsive*/

@media screen and (max-width: 768px) {
    .img-developer-movil{
        width: 220px;
        height: 200px;
        background-image: url(/Portfolio/img/coderhouse.png);
    }
    .size-logo-rrss-mobile{
        font-size: 15px;
    }
    .sub-title-developer{
        font-family: 'Bree Serif', serif;

        font-size: 30px;
        text-align: center;
    }
    .sub-title-javascript{
        font-family: 'Bree Serif', serif;

        font-size: 30px;
        text-align: center;
    }
    .sub-title-React{
        font-family: 'Bree Serif', serif;

        font-size: 30px;
        text-align: center;
    }

    
    .img-javascript-movil{
        width: 220px;
        height: 200px;
        
    }
    .img-React-movil{
        width: 220px;
        height: 200px;
       
    }
    .experience-mobile{
        font-family: 'Bree Serif', serif;

        width:700px;
        font-size: 30px;
        text-align: center;
        padding: 20px;
    }
    .contact-me-mobile{
        font-family: 'Bree Serif', serif;

        font-size: 40px;
        text-align: center;
        margin: 50px 10px 10px 10px;
    }
    .project-ecommerce-mobile{
        width: 300px;
        height: 100px;
        border: 1px solid white;
        border-radius: 1rem;
        margin: 85px 85px 15px 85px; }
        
    .description-project-mobile{
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Bree Serif', serif;
        font-size: 25px;
        padding: 0px 70px 0 70px;
    }
    .center-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .project-landingPage-mobile{
        width: 300px;
        height: 100px;
        background-image: url(/Portfolio/img/landingpage.png);
        border: 1px solid white;
        border-radius: 1rem;
        margin: 85px 85px 15px 85px;
    }
    .box-project-mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .nav-bar-desktop {
        display: none;
    }
    .style-name-developer-mobile{
        margin: 5px 15px 15px 5px;
        padding: 20px 28px 35px 28px;
        font-size: 20px;
        font-family: 'Bree Serif', serif;
        cursor: pointer
    }
    
    .typing-mobile{
        width: 100%;
        font-size: 1.5rem;
        margin: 10px;
        
        
    }
    .position-button-mobile{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 5px 0px 25px 0px;
        padding: 0;
    }
    .sub-title-social-media-mobile{
        margin: 0;
        padding: 0;
    }
    .size-list-icons-mobile{
        width: 100px;
        height: 100px;
    }
    .name-lenguages-mobile{
        font-size: 15px;
    }
    .style-main-mobile{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }
    .about-me-style-mobile{
        display: flex;
        justify-content: flex-start !important;
        width: 100%;
        height: 100%;
        margin-top: 40px;
        padding: 0px 20px 0 15px;
    }
    .text-about-me-mobile{
        text-align: center;
        font-size: 2rem !important;
        padding: 0 10px 0 15px !important;
    }
    .text-about-me-name-mobile {
        font-size: 2rem !important;
        padding: 0 10px 0 15px !important;
    }
    .style-items-list-mobile{
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: 'Bree Serif', serif;

        list-style-type: none;
        padding: 5px;
    }
    .style-social-media-title-mobile{
        font-size: 20px;
    }
    .text-about-mobile{
        font-size: 1.5rem;
        margin: 0;
    }
    .box-social-media-mobile{
         width: 100%;
        }
    }

   @media only screen and (min-width: 768px) and (max-width: 1024px) {
     .style-name-developer-tablet{
         margin: 25px 5px 0 30px;
         padding: 0;
         font-size: 30px;
         width: 200px;
         height: 100%;
     }
     .style-name-developer-tablet:hover{
         border: none;
     }
     .style-nav-tablet{
         display: flex;
         justify-content: space-around;
     }

     .box-social-media-tablet{
         width: 100%;
     }

     .box-project-tablet{
         
         display: flex;
         flex-direction: column;

     }
      
     .style-list-nav-tablet{
         margin: 0;
         padding: 0;
     }

     .style-items-list-tablet{
         padding: 25px 0px 15px 10px;
         margin: 0px 15px 15px 0px;
     }

     .description-tablet{
         text-align: start;
     }
     
   }

   .lenguage {
       width: 100px;
       height: 25px;
       background-color: transparent;
       color: white;
       border: 0;
       cursor: pointer;
       font-size: 30px;
       font-family: 'Bree Serif', serif;
   }

   
  
   .es{
       display: none;
   }